
/* Aufgabe3 
Name: Verena Pfaff 
Matrikel: 256543
Datum: 26.10.2017 */

canvas {
	width: 100%;
}
	
@media screen and (min-width: 35.6875em) {
	canvas {
		width: 100%;	
	}
	
@media screen and (min-width: 48.0625em) {
	canvas {
		width: 100%;	
	}
	
@media screen and (min-width: 64.0625em) {
	canvas {
		width: 800px;
		height: 600px;	
	}
